extends layouts/main

block content
    .form-container
        form(action=`${routes.users}${routes.changePassword}`, method="post", enctype="multipart/form-data")
            input(type="text", placeholder="Current password", name="password")
            input(type="text", placeholder="New Password", name="password2")
            input(type="text", placeholder="Verify Password", name="password3")
            input(type="submit", value="change")