doctype html
html
    head
        title #{pageTitle} | #{siteName}
    include ../views/partials/header
    body
        main
            block content
            //-템플릿 내용이 들어갈 자리
        include ../views/partials/footer